<div class="page-wrapper add-article">
    <h1> Create a New Article </h1>

    <form (ngSubmit)="createArticle(article)" #postForm='ngForm'>
        <div>
            <label>Title:</label>
            
            <input type="text" name="title" placeholder="Give a title to your article.." 
            #title='ngModel' [(ngModel)]='article.title' required/>
            
            <div class="error" [hidden]='title.valid || title.pristine'>Title is required.</div>
        </div>
        
        <div>
            <label>Description:</label>
            
            <textarea name="description" placeholder="What is your article all about.."
            #description='ngModel' [(ngModel)]='article.description' required></textarea>
            
            <div class="error" [hidden]='description.valid || description.pristine'>
                Description is required.
            </div>
        </div>
        
        <div class="action-btn" [hidden]="submitted">
            <button type="submit" class="submit-btn"
            [disabled]="!postForm.form.valid">Post Article</button>
        </div>

        <div [hidden]="!submitted">
            You have successfully created an article. <a routerLink="/articles" routerLinkActive="active">View Articles</a>
        </div>
    </form>
</div>