<div class="page-wrapper home">
    <section>
        <img src="assets/img/angular-rails.png">

        <div>
            <h1>Angular - Rails Api Demo</h1>
            <p>An Angular Application that feeds on Rails Api.</p>

            <div class="action-btn">
                <button routerLink="../articles" routerLinkActive="active">View Articles</button>
                <button class="bordered" routerLink="../articles/new" routerLinkActive="active">Create an Article</button>
            </div>
        </div>
    </section>
    
</div>